.app-header {
    min-height: 44px;
    max-height: 44px;
    overflow: hidden;
    width: 100%;

    .header-nav {
        border-bottom: 1px solid var(--clr2);
        overflow: hidden;
        backdrop-filter: blur(6px);
        max-height: 44px;
        padding: 6px 4px;
        width: 100%;

        .logo {
            margin-inline: 20px;
            gap: 3px;

            h2 {
                padding: 0;
            }
            
            img {
                width: 17px;
                height: 17px;
                border-radius: 2px;
            }
        }

        select {
            background-color: transparent;
            height: 32px;
            line-height: 32px;
            margin-right: 4px;
            padding-right: 10px;
            white-space: nowrap;
            border: none;
        }

        .header-actions {
            width: 100%;

            .start-section {
                gap: 25px;
            }

            .end-section {
                gap: 25px;
                margin-inline-end: 20px;
            }
        }
    }
}