.mini-board {
    width: 145px;
    height: 95px;
    border-radius: 3px;

    h1 {
        color: white;
        font-weight: bold;
        font-size: 1.1rem;
        padding-block-start: 8px;
        padding-inline-start: 5px;
    }
}