.board-header {
    width: 100%;
    height: 49px;
    position: relative;
    z-index: 0;
    color: white;

    button {
        color: white;

        span {
            padding-right: 5px;
        }
    }

    & * {
        height: 33px;
    }

    & .start-section h3 {
        margin: auto;
    }



    .board-header-actions {
        width: 100%;

        .start-section {
            margin-inline-start: 20px;
            gap: 10px;

            .btn-divider {
                height: 100%;
                font-size: 20px;
                line-height: 27px;
                font-weight: 300;
                opacity: 0.2;
                margin-inline: -4px
            }

            .title {
                background-color: transparent;
                margin-block: 0;
                line-height: 16px;
                padding-inline: 12px;
                font-size: 18px;
                font-weight: 700;
                border-radius: 3px;
                margin: auto;

                &:hover {
                    background-color: $color-bg-opacity;
                }

                &:focus {
                    color: black;
                    background-color: white;
                }
            }

            .star {
                width: 32px;
                height: 32px;
                font-size: 16px;
                transition: none;

                &:hover {
                    font-size: 18px;
                    color: yellow;
                }

                &::after {
                    font-family: trello;
                    content: '\E966';
                }

                &.active {
                    font-size: 18px;
                    color: yellow;

                    &::after {
                        font-family: trello;
                        content: '\E967';
                    }

                    &:hover {
                        &::after {
                            font-family: trello;
                            content: '\E966';
                        }
                    }
                }
            }

            .board {
                position: relative;
                padding-left: 33px;
                padding-right: 13px;

                &::before {
                    font-family: trello;
                    content: '\E943';
                    position: absolute;
                    bottom: 8px;
                    left: 13px;
                }
            }

            .table {
                position: relative;
                padding-right: 12px;
                padding-left: 34px;

                &::before {
                    font-family: trello;
                    content: '\E97E';
                    position: absolute;
                    left: 11px;
                    bottom: 8px;
                    font-size: 18px;
                }
            }
        }

        .end-section {
            gap: 8px;
            margin-inline-end: 12px;

            .btn-divider {
                height: 100%;
                font-size: 20px;
                line-height: 27px;
                font-weight: 300;
                opacity: 0.2;
                margin-inline: 2px;
            }

            .members {
                display: flex;
                gap: 2px;
                padding-top: 3px;

                .member img {
                    border-radius: 50%;
                    width: 28px;
                    height: 28px;
                    object-fit: cover;
                }
            }



            button {
                border: none;
                // margin-inline-end: -5px;



                &.share-btn {
                    position: relative;
                    color: black;
                    background-color: white;
                    padding-inline: 12px;
                    padding-left: 28px;

                    &::before {
                        position: absolute;
                        font-family: trello;
                        content: '\E902';
                        font-size: 16px;
                        left: 8px;
                        bottom: 7px;
                    }

                    &:hover {
                        opacity: 0.9;
                    }
                }

                &.menu-btn {
                    padding: 6px;

                    &::after {
                        font-family: trello;
                        content: '\E952';
                        font-size: 20px;
                    }

                }
            }

            & .filter-btn span {
                padding-right: 7px;
                margin-top: 17px;
            }

        }
    }
}