.board-menu {
    position: fixed;
    right: 0;
    top: 43px;
    height: 100vh;
    width: 339px;
    background-color: white;
    padding-inline: 12px;

    .menu-layout {
        .menu-header {
            height: 48px;
            border-bottom: 1px solid var(--t-gray);
            position: relative;
            display: flex;
            justify-content: center;


            h5 {
                margin: auto;
                color: $color-primary-text;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                margin: 14px 32px;
            }

            span {
                color: $color-primary-text;
                position: absolute;
                // font-weight: 600;
                bottom: 28%;
                right: -2px;
                font-size: 21px;
                cursor: pointer;

                &:hover {
                    font-weight: 500;
                    color: $color-primary-icon-hover;
                }

                &.back {
                    color: $color-primary-icon;
                    bottom: 38%;
                    left: 3px;
                    font-size: 13px;
                    width: fit-content;

                    &:hover {
                        font-weight: 500;
                        color: $color-primary-icon-hover;
                    }
                }
            }
        }

        &.bg-container {
            .menu-body {
                .options {
                    min-height: 152px;
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 1px solid var(--t-gray);
                    padding-left: 7px;
                    padding-bottom: 6px;

                    img {
                        border-radius: 7px;
                        width: 153px;
                        height: 97px;

                        &:hover {
                            opacity: 0.7;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}