.board-header {
    width: 100%;
    height: auto;
    // padding: 8px 4px 4px 12px;
    position: relative;
    z-index: 0;

    .board-header-actions {
        width: 100%;

        .start-section {
            margin-inline-start: 30px;
            gap:16px;
        }

        .end-section {
            gap:8px;
            margin-inline-end: 20px;

            button {
                border: none;
                margin-inline-end: -5px;
                &.member{
                    border-radius: 50%;
                }
            }
            
        }
    }

}