.group-list {
    margin-left: 8px;
}

.smooth-dnd-container {
    min-width: 100%;
    min-height: 100%;
}

.smooth-dnd-container.horizontal {
    display: flex !important;

}

.group-wrapper {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin: 0 4px;
    vertical-align: top;
    white-space: nowrap;
    width: 272px;

    .group-details {
        background-color: var(--t-light-gray);
        border-radius: 3px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        max-height: calc(100% - 80px);
        position: relative;
        white-space: normal;
        width: 100% !important;

        .group-header {
            flex: 0 0 auto;
            min-height: 20px;
            padding: 10px 8px;
            padding-right: 8px;
            position: relative;


            .editing-target {
                bottom: 0;
                cursor: pointer;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }

            .group-title {
                outline: none;
                display: block;
                line-height: 20px;
                width: 100%;
                background: #0000;
                border-radius: 3px;
                box-shadow: none;
                font-weight: 600;
                margin: -4px 0;
                max-height: 256px;
                min-height: 20px;
                padding: 4px 8px;
                resize: none;
                overflow: hidden;
                overflow-wrap: break-word;
                height: 28px;
                cursor: pointer;
            }

            .btn-group-actions {
                position: absolute;
                top: 4px;
                right: 6px;

                &::before {
                    font-family: trello;
                    content: '\E952';
                }
            }
        }

        .btn-group-actions {
            position: absolute;
            top: -3px;
            right: -2px;
            border-radius: 3px;
            padding: 6px;

            &:hover {
                cursor: pointer;
                background-color: $color-hover-1;
            }
        }

    }

    .open-add-task-container {
        display: flex;
        justify-content: flex-start;
        max-height: 38px;
        min-height: 38px;

        .btn-open-add-task {
            display: flex;
            max-width: 100%;
            flex: 1 0 auto;
            padding: 4px 8px;
            position: relative;
            border-radius: 3px;
            margin-top: 2px;
            margin-right: 8px;
            margin-bottom: 8px;
            margin-left: 8px;
            align-self: center;
            color: $color-secondery-text;
            height: 28px;
            background-color: transparent;
            transition: 0.05;

            &:hover {
                background-color: $color-primary-btn-modal-hover;
            }

            .txt {
                position: absolute;
                left: 35px;
            }

            .x {
                position: absolute;
                left: 8px;
            }


        }

    }

    .task-list {
        flex: 1 1 auto;
        margin: 0 4px;
        min-height: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 4px;
        // z-index: 1;

        // .ghost {
        //     opacity: 0.4;
        //     margin-inline-end: 8px;


    }


    .task-preview {
        background-color: white;
        border-radius: 3px;
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        display: block;
        margin-bottom: 8px;
        max-width: 300px;
        min-height: 20px;
        position: relative;
        z-index: 0;

        &:hover {
            background-color: rgb(246, 246, 253);
        }

        .full-color-container {
            display: flex;
            flex-direction: row;
            min-height: 56px;
            margin-bottom: 8px;
            max-width: 300px;
            border-radius: 3px;
            cursor: pointer;

            .full-color-title-container {
                overflow: hidden;
                padding: 6px 8px 2px;
                position: relative;
                align-self: flex-end;
                width: 100%;

                .full-color-title {
                    word-wrap: break-word;
                    font-size: 16px;
                    overflow: hidden;
                    font-weight: 500;
                    line-height: 20px;
                    margin-bottom: 0;
                    padding-bottom: 8px;
                }
            }
        }

        .full-img-container {
            display: flex;
            flex-direction: row;
            min-height: 56px;
            margin-bottom: 8px;
            max-width: 300px;
            border-radius: 3px;
            cursor: pointer;

            .full-img-title-container {
                overflow: hidden;
                padding: 6px 8px 2px;
                position: relative;
                align-self: flex-end;
                width: 100%;

                .full-img-title {
                    word-wrap: break-word;
                    font-size: 16px;
                    overflow: hidden;
                    font-weight: 500;
                    line-height: 20px;
                    margin-bottom: 0;
                    padding-bottom: 8px;
                }
            }
        }

        &:hover {
            .pencil-icon {
                display: block;
            }
        }

        .pencil-icon {
            display: none;
            position: absolute;
            top: 8px;
            right: 6px;

        }

        .task-bg-color {
            border-radius: 3px 3px 0 0;
            height: 32px;
        }

        .task-bg-img {
            max-width: 100%;
            height: 150px;
            object-fit: cover;
        }

        .task-info {
            overflow: hidden;
            padding: 2px 8px 2px;
            position: relative;

            .labels-container {
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
                margin-bottom: 4px;

                .prev-label {
                    margin-top: 8px;
                    margin-bottom: 4px;
                    padding-right: 0;
                    padding-left: 0;
                    min-width: 40px;
                    max-width: 40px;
                    height: 8px;
                    color: transparent;
                    display: inline-block;
                    position: relative;
                    border-radius: 4px;
                    padding: 0 8px;
                    text-align: left;

                }
            }

            .task-title {
                word-wrap: break-word;
                clear: both;
                color: $color-primary-text;
                display: block;
                margin: 0 0 4px;
                overflow: hidden;
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }

            .badges {
                float: left;
                margin-left: -2px;
                max-width: 100%;

                .icon-container.checklist {
                    border-radius: 3px;
                }

                .icon-container {
                    display: inline-block;
                    margin: 0 4px 4px 0;
                    max-width: 100%;
                    min-height: 20px;
                    overflow: hidden;
                    padding: 1px;
                    position: relative;
                    text-decoration: none;
                    text-overflow: ellipsis;
                    vertical-align: top;
                    color: $color-secondery-text;


                    .text {
                        font-size: 12px;
                        padding: 0 4px 0 2px;
                        vertical-align: top;
                        white-space: nowrap;
                    }

                    .icon {
                        &::before {
                            font-family: trello;
                            font-size: 16px;
                        }

                        &.attach-icon {
                            &::before {
                                content: '\E908';
                            }
                        }

                        &.desc-icon {

                            &::before {
                                content: '\E922';
                            }
                        }

                        &.checklists-icon {

                            &::before {
                                content: '\E91A';
                            }
                        }

                        &.date-icon {

                            &::before {
                                content: '\E91B';
                            }
                        }

                        &.comments-icon {

                            &::before {
                                content: '\E91E';
                            }
                        }
                    }

                }
            }

            .member-list {
                float: right;
                margin: 0 -2px 0 0;
                display: flex;

                .avater {
                    float: right;
                    height: 28px;
                    margin: 0 0 4px 4px;
                    width: 28px;
                }
            }
        }
    }

    & img {
        width: 28px;
        height: 28px;
        border-radius: 100%;
        margin: 0 0 4px 4px;
        float: right;
    }


    .add-task-container {
        padding-bottom: 8px;

        .textarea-input-margin {
            border-radius: 3px;
            cursor: pointer;
            margin-bottom: 8px;
            max-width: 300px;
            min-height: 20px;
            position: relative;

            .textarea-input-padding {
                // padding: 6px 8px 2px;
                position: relative;

                textarea {
                    width: 100%;
                    overflow: hidden;
                    overflow-wrap: break-word;
                    resize: none;
                    height: 69px;
                    padding: 6px 8px 2px;
                    max-height: 162px;
                    border-radius: 3px;
                    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
                    border: none;
                    outline: none;
                    color: rgb(150, 150, 150);

                }
            }
        }

        .controller-container {
            position: relative;

            &::after {
                font-family: trello;
                content: '\E952';
                position: absolute;
                font-size: 24px;
                color: $color-primary-icon;
                right: 4px;
                bottom: 6px;
                cursor: pointer;


            }

            .btn-container {
                position: relative;

                .close-btn-placeholder {
                    position: relative;

                    &::after {
                        font-family: trello;
                        content: '\E91C';
                        position: absolute;
                        font-size: 24px;
                        color: $color-primary-icon;
                        left: 8px;
                        top: 5px;
                        cursor: pointer;
                    }
                }



                .btn-add-task {
                    transition: 0.08s;
                    cursor: pointer;
                    margin-bottom: 0;
                    margin-top: 0;
                    vertical-align: top;
                    position: relative;
                }
            }
        }
    }

    .quick-menu-screen {
        background-color: rgba(0, 0, 0, 0.478);
        position: fixed;
        inset: 0;
        z-index: 10;
    }

    .quick-edit-modal {
        position: fixed;
        z-index: 20;
    }

}