// .group-list .group-item {
//     height: 100vh;
// }

.group-wrapper {
    display: inline-block;
    height: 100vh;
    vertical-align: top;
    white-space: nowrap;
    width: 272px;

    .group-details {
        // padding: 8px;
        font-size: 16px;
        background-color: var(--t-light-gray);
        border-radius: 3px;
        // max-height: calc(100vh - 120px);
        // overflow-y: auto;

        .group-header {
            position: relative;
            padding: 10px 8px;

            .btn-group-actions {
                position: absolute;
                top: 4px;
                right: 6px;

                &::before {
                    font-family: trello;
                    content: '\E952';
                }
            }


            .card-count {
                position: relative;
                font-size: 1rem;
                font-weight: 400;
                padding-inline-start: 8px;
                color: $color-secondery-text;
            }

            & .group-title {
                width: 240px;
                max-width: 224px;
                font-weight: 600;
                cursor: pointer;
                border-radius: 1px;
                margin: -4px 0;
                margin-left: 2px;
                max-height: 256px;
                min-height: 24px;
                padding: 4px 6px;
                background-color: transparent;

                &:focus {
                    outline: 2px solid var(--t-blue);
                    background-color: white;
                }
            }
        }

        .btn-group-actions {
            position: absolute;
            top: -3px;
            right: -2px;
            border-radius: 3px;
            padding: 6px;

            &:hover {
                cursor: pointer;
                background-color: $color-hover-1;
            }
        }

        .open-add-task-container {
            max-height: 38px;
            min-height: 38px;
            display: flex;

            .btn-open-add-task {
                display: flex;
                justify-content: flex-start;
                padding: 0;
                margin: 2px 0 8px 8px;
                padding: 4px 8px;

                &:hover {
                    background-color: $color-hover-1;
                    color: $color-primary-text;
                }

                & span:nth-child(1) {
                    margin-left: -4px;
                    padding-right: 2px;
                    padding-left: 4px;
                }
            }
        }
    }



    .task-list {
        padding: 0 4px;
        margin: 0 4px;
        // margin-top: 6px;
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        overflow-x: hidden;

        .add-task-form {
            padding-bottom: 8px;

            .add-task-form-controler {
                position: relative;
                height: 32px;

                .close-add-task {
                    position: absolute;
                    top: -3px;
                    left: 80px;
                    // border-radius: 3px;
                    padding: 4px;
                    color: rgb(136, 136, 136);

                    &:hover {
                        color: darken(rgb(136, 136, 136), 40%);
                        background-color: transparent;
                    }
                }

                span:nth-child(3) {
                    position: absolute;
                    // bottom: 2px;
                    right: -1px;
                    border-radius: 3px;
                    padding: 4px;
                    color: rgb(135, 135, 135);

                    &:hover {
                        color: darken(rgb(135, 135, 135), 20%);
                    }
                }
            }

            span:hover {
                cursor: pointer;
                background-color: $color-hover-1;

            }

            textarea {
                width: 100%;
                height: 69px;
                padding-left: 9px;
                padding-top: 6px;
                border-radius: 3px;
                margin-block-end: 8px;
                resize: none;
                box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .task-list>*:not(.add-task-form) {
        background-color: white;
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
        padding-inline: 8px;
        margin-block-end: 8px;
        padding-block: 6px;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background-color: darken(white, 3%);
        }
    }

    .task-preview {
        position: relative;

        .label-list {
            .label-preview {
                width: 40px;
                height: 8px;
            }
        }

        & .pencil-icon {
            position: absolute;
            right: -5px;
            top: -4px;
            border-radius: 3px;
            display: none;
            padding: 6px;

            &:hover {
                background-color: lighten($color-hover-1, 6%)
            }
        }

        &:hover {
            .pencil-icon {
                display: block;
            }
        }

        .icon-toolbar {
            height: 26px;
            display: flex;
            gap: 7px;
            margin-top: 2px;
            margin-right: 2px;
            color: $color-primary-icon;

            &>* {
                padding-inline: 3px;
            }

            span {
                font-size: 13px;
                margin-block: auto;

            }

            .due-date-group {
                display: flex;
                gap: 4px;
                border-radius: 3px;


                &:hover {
                    background-color: darken($color-bg-1, 3%);

                    .due-date-box {
                        display: inherit;
                    }

                    .due-date-clock {
                        display: none;
                    }
                }

                .due-date-box {
                    display: none;
                }
            }
        }
    }

    // .add-task-form {
    //     padding: 0px 0px 8px;

    //     .add-task-form-controler {
    //         position: relative;
    //         height: 32px;

    //         .close-add-task {
    //             position: absolute;
    //             top: -3px;
    //             left: 80px;
    //             // border-radius: 3px;
    //             padding: 4px;
    //             color: rgb(136, 136, 136);

    //             &:hover {
    //                 color: darken(rgb(136, 136, 136), 40%);
    //                 background-color: transparent;
    //             }
    //         }

    //         span:nth-child(3) {
    //             position: absolute;
    //             // bottom: 2px;
    //             right: -1px;
    //             border-radius: 3px;
    //             padding: 4px;
    //             color: rgb(135, 135, 135);

    //             &:hover {
    //                 color: darken(rgb(135, 135, 135), 20%);
    //             }
    //         }
    //     }

    //     span:hover {
    //         cursor: pointer;
    //         background-color: $color-hover-1;

    //     }

    //     textarea {
    //         width: 100%;
    //         height: 69px;
    //         padding-left: 9px;
    //         padding-top: 6px;
    //         border-radius: 3px;
    //         margin-block-end: 8px;
    //         resize: none;

    //         &:focus {
    //             outline: none;
    //         }
    //     }
    // }

}