.group-list {
    margin-left: 8px;
}

.smooth-dnd-container.horizontal {
    display: flex !important;
}

.group-wrapper {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin: 0 4px;
    vertical-align: top;
    white-space: nowrap;
    width: 272px;

    .group-details {
        background-color: var(--t-light-gray);
        border-radius: 3px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        max-height: 100%;
        position: relative;
        white-space: normal;
        width: 100% !important;

        .group-header {
            flex: 0 0 auto;
            min-height: 20px;
            padding: 10px 8px;
            padding-right: 8px;
            position: relative;

            .editing-target {
                bottom: 0;
                cursor: pointer;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }

            .group-title {
                outline: none;
                display: block;
                line-height: 20px;
                width: 100%;
                background: #0000;
                border-radius: 3px;
                box-shadow: none;
                font-weight: 600;
                margin: -4px 0;
                max-height: 256px;
                min-height: 20px;
                padding: 4px 8px;
                resize: none;
                overflow: hidden;
                overflow-wrap: break-word;
                height: 28px;
            }

            .btn-group-actions {
                position: absolute;
                top: 4px;
                right: 6px;

                &::before {
                    font-family: trello;
                    content: '\E952';
                }
            }
        }

        .btn-group-actions {
            position: absolute;
            top: -3px;
            right: -2px;
            border-radius: 3px;
            padding: 6px;

            &:hover {
                cursor: pointer;
                background-color: $color-hover-1;
            }
        }

        .open-add-task-container {
            max-height: 38px;
            min-height: 38px;
            display: flex;

            .btn-open-add-task {
                display: flex;
                justify-content: flex-start;
                padding: 0;
                margin: 2px 0 8px 8px;
                padding: 4px 8px;

                &:hover {
                    background-color: $color-hover-1;
                    color: $color-primary-text;
                }

                & span:nth-child(1) {
                    margin-left: -4px;
                    padding-right: 2px;
                    padding-left: 4px;
                }
            }
        }
    }



    .task-list {
        flex: 1 1 auto;
        margin: 0 4px;
        min-height: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 4px;
        // z-index: 1;

        //     .add-task-form {
        //         padding-bottom: 8px;

        //         .add-task-form-controler {
        //             position: relative;
        //             height: 32px;

        //             .close-add-task {
        //                 position: absolute;
        //                 top: -3px;
        //                 left: 80px;
        //                 // border-radius: 3px;
        //                 padding: 4px;
        //                 color: rgb(136, 136, 136);

        //                 &:hover {
        //                     color: darken(rgb(136, 136, 136), 40%);
        //                     background-color: transparent;
        //                 }
        //             }

        //             span:nth-child(3) {
        //                 position: absolute;
        //                 // bottom: 2px;
        //                 right: -1px;
        //                 border-radius: 3px;
        //                 padding: 4px;
        //                 color: rgb(135, 135, 135);

        //                 &:hover {
        //                     color: darken(rgb(135, 135, 135), 20%);
        //                 }
        //             }
        //         }

        //         span:hover {
        //             cursor: pointer;
        //             background-color: $color-hover-1;

        //         }

        //         textarea {
        //             width: 100%;
        //             height: 69px;
        //             padding-left: 9px;
        //             padding-top: 6px;
        //             border-radius: 3px;
        //             margin-block-end: 8px;
        //             resize: none;
        //             box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);

        //             &:focus {
        //                 outline: none;
        //             }
        //         }
        //     }
        // }

        // .ghost {
        //     opacity: 0.4;
        //     margin-inline-end: 8px;
    }


    .task-preview {
        background-color: white;
        border-radius: 3px;
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        display: block;
        margin-bottom: 8px;
        max-width: 300px;
        min-height: 20px;
        position: relative;
        z-index: 0;

        .full-bg-container {
            display: flex;
            flex-direction: row;
            min-height: 56px;
            margin-bottom: 8px;
            max-width: 300px;
            border-radius: 3px;
            cursor: pointer;

            .full-bg-title-container {
                overflow: hidden;
                padding: 6px 8px 2px;
                position: relative;
                align-self: flex-end;
                width: 100%;

                .full-bg-title {
                    word-wrap: break-word;
                    font-size: 16px;
                    overflow: hidden;
                    font-weight: 500;
                    line-height: 20px;
                    margin-bottom: 0;
                    padding-bottom: 8px;
                }
            }
        }

        &:hover {
            .pencil-icon {
                display: block;
            }
        }

        .pencil-icon {
            display: none;
            position: absolute;
            top: 6px;
            right: 4px;
        }

        .task-bg-color {
            border-radius: 3px 3px 0 0;
            height: 32px;
        }

        .task-info {
            overflow: hidden;
            padding: 6px 8px 2px;
            position: relative;

            .labels-container {
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
                margin-bottom: 4px;

                .prev-label {
                    margin-top: 4px;
                    margin-bottom: 4px;
                    padding-right: 0;
                    padding-left: 0;
                    min-width: 40px;
                    max-width: 40px;
                    height: 8px;
                    color: transparent;
                    display: inline-block;
                    position: relative;
                    border-radius: 4px;
                    padding: 0 8px;
                    text-align: left;

                }
            }

            .task-title {
                word-wrap: break-word;
                clear: both;
                color: $color-primary-text;
                display: block;
                margin: 0 0 4px;
                overflow: hidden;
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }

            .badges {
                float: left;
                margin-left: -2px;
                max-width: 100%;

                .icon-container {
                    display: inline-block;
                    margin: 0 4px 4px 0;
                    max-width: 100%;
                    min-height: 20px;
                    overflow: hidden;
                    padding: 2px;
                    position: relative;
                    text-decoration: none;
                    text-overflow: ellipsis;
                    vertical-align: top;
                    color: $color-secondery-text;

                    .text {
                        font-size: 12px;
                        padding: 0 4px 0 2px;
                        vertical-align: top;
                        white-space: nowrap;
                    }

                    .icon {
                        &::before {
                            font-family: trello;
                            font-size: 16px;
                        }

                        &.attach-icon {
                            &::before {
                                content: '\E908';
                            }
                        }

                        &.desc-icon {

                            &::before {
                                content: '\E922';
                            }
                        }

                        &.checklists-icon {

                            &::before {
                                content: '\E91A';
                            }
                        }

                        &.date-icon {

                            &::before {
                                content: '\E91B';
                            }
                        }

                        &.comments-icon {

                            &::before {
                                content: '\E91E';
                            }
                        }
                    }

                }
            }

            .member-list {
                float: right;
                margin: 0 -2px 0 0;

                .avater {
                    float: right;
                    height: 28px;
                    margin: 0 0 4px 4px;
                    width: 28px;
                }
            }
        }
    }

    & img {
        width: 28px;
        height: 28px;
        border-radius: 100%;
        margin: 0 0 4px 4px;
        float: right;
    }



    // .prev-attach {

    //     &::before {
    //         font-family: trello;
    //         content: '\E908';
    //         font-size: 15px;
    //         top: 2px;

    //     }
    // }

    // .prev-desc {

    //     &::before {
    //         font-family: trello;
    //         content: '\E922';
    //         font-size: 15px;
    //     }
    // }

    // .prev-checklists {

    //     &::before {
    //         font-family: trello;
    //         content: '\E91A';
    //         font-size: 15px;
    //     }
    // }

    // .prev-date {

    //     &::before {
    //         font-family: trello;
    //         content: '\E91B';
    //         font-size: 15px;
    //     }
    // }

    // .prev-comments {

    //     &::before {
    //         font-family: trello;
    //         content: '\E91E';
    //         font-size: 15px;
    //     }
    // }

    // .labels-prev-container {
    //     gap: 5px;
    //     flex-wrap: wrap;

    //     .prev-label {
    //         margin-top: 4px;
    //         margin-bottom: 4px;
    //         padding-right: 0;
    //         padding-left: 0;
    //         min-width: 40px;
    //         max-width: 40px;
    //         height: 8px;
    //         border-radius: 4px;
    //     }
    // }



    .quick-menu-screen {
        background-color: rgba(0, 0, 0, 0.478);
        position: fixed;
        inset: 0;
        z-index: 10;
    }

    .quick-edit-modal {
        position: fixed;
        z-index: 20;
    }

}