.task-label-modal {
    .label-show {
        height: 101px;
        background-color: var(--t-light-gray);
        display: flex;
        position: relative;
        padding-bottom: 5px;

        .label-preview {
            width: 240px;
            height: 32px;
            margin: auto;
            border-radius: 3px;
            opacity: 0.35;
            display: flex;
        }

        .label-circle {
            position: absolute;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            top: 40px;
            left: 40px;
        }

        .label-title {
            position: absolute;
            top: 37px;
            left: 64px;
            font-size: 14px;
        }
    }

    .modal-body {

        .title-mt12-mb8 {
            margin-top: 13px;
            margin-bottom: 9px;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            color: $color-secondery-text;
        }

        .filter-labels {
            .search {
                margin-top: 11px;
            }
        }

        .lables {
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding-top: 4px;
            padding-bottom: 8px;

            .label-container {
                width: 100%;
                position: relative;
                display: flex;
                justify-content: space-between;
                // padding: 0;
                // margin-right: 8px;
                // margin-inline: 1px;
                // gap: 12px;

                input {
                    display: block;
                    margin: auto;
                    cursor: pointer;
                }

                .label {
                    position: relative;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    gap: 4px;
                    padding-left: 6px;

                    &:hover {
                        filter: brightness(75%);
                    }

                    .label-shrink {
                        flex-shrink: 1;

                        .label-circle {
                            position: absolute;
                            top: 8px;
                            left: 16px;
                            height: 16px;
                            width: 16px;
                            border-radius: 50%;
                        }

                        .label-title {
                            position: absolute;
                            top: 5px;
                            left: 38px;
                            font-size: 14px;
                        }

                        .label-preview {
                            width: 212px;
                            position: relative;
                            height: 32px;
                            margin: auto;
                            margin-left: 2px;
                            border-radius: 3px;
                            opacity: 0.43;
                            cursor: pointer;

                        }
                    }

                }

                .edit-btn {
                    margin: auto;
                    cursor: pointer;
                    width: 32px;
                    height: 32px;
                    background-color: transparent;
                    margin-bottom: 0;
                    padding: 8px;

                    &:hover {
                        background-color: $color-primary-btn-modal-hover
                    }
                }
            }
        }

        .btn-go-to-create {
            margin-top: 8px;
            // margin-bottom: 4px;

        }


        .label-editor {


            .remove {
                margin-bottom: 24px;
                // position: relative;

                .remove-title {
                    position: relative;

                    .x-icon {
                        position: absolute;
                        top: 3px;
                        left: -23px;
                        font-size: 17px;

                    }
                }
            }

            .action-btns {
                border-top: 1px solid var(--t-gray);
                padding-top: 16px;

                .btn-group {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .colors {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                gap: 8px;
                margin-bottom: 10px;
                margin-top: 11px;
                padding-inline: 2px;


                .color {
                    position: relative;
                    // width: 49px;
                    height: 28px;
                    border-radius: 3px;
                    cursor: pointer;

                    &.selected {
                        width: 48px;
                        // height: 24px;
                        border: 2px solid white;
                        margin: auto;
                        outline: 2px solid var(--t-blue);
                        border-radius: 1px;
                    }

                    .dark {
                        position: absolute;
                        background-color: rgb(0, 0, 0);
                        opacity: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 3px;


                        &:hover {
                            opacity: 0.2;
                        }
                    }
                }
            }

        }
    }

}

.delete-label-modal {
    .modal-body {
        .delete-warning {
            margin-bottom: 7px;
            margin-top: 10px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: $color-primary-text;
        }

        .btn-danger {
            // width: 100%;
            // margin-bottom: 12px;
        }
    }

}