.task-attachment-modal {
    .modal-body {
        .uploader {
            height: 33px;
            display: flex;
            align-items: center;
            border-radius: 3px;
            font-size: 14px;
            margin-bottom: 8px;

            &:hover {
                background-color: rgba($color-hover-2, 0.4);
            }
        }

        .link {
            border-top: 1px solid var(--t-gray);
            margin-top: 8px;

            .link-label {
                display: block;
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                margin-bottom: 4px;
                margin-top: 12px;
                color: $color-secondery-text;
            }

            .primary-input-modal {
                margin-top: 6px;
                margin-bottom: 14px;
            }
        }

        .tip {
            border-top: 1px solid var(--t-gray);
            margin-bottom: 0px;
            margin-top: 8px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            color: $color-secondery-text;
            padding-top: 9px;
        }
    }

}