.task-label-modal {
    .label-show {
        height: 101px;
        background-color: var(--t-light-gray);
        display: flex;
        position: relative;
        padding-bottom: 7px;
        margin-bottom: 8px;

        .label-preview {
            width: 240px;
            height: 32px;
            margin: auto;
            border-radius: 3px;
            display: flex;
            opacity: 0.35;
        }

        .label-circle {
            position: absolute;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            top: 39px;
            left: 40px;
        }

        .label-title {
            position: absolute;
            top: 37px;
            left: 64px;
            font-size: 14px;
        }
    }

    .modal-body {
        h6 {
            margin: 14px 0px 8px;
            font-weight: 600;
        }

        .lables {
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding-left: 3px;
            // margin-bottom: 4px;

            .label-container {
                position: relative;
                display: flex;
                justify-content: space-between;
                padding: 0;
                margin-inline: 1px;
                gap: 12px;

                input {
                    display: block;
                    margin: auto;
                    cursor: pointer;
                }

                .label-circle {
                    position: absolute;
                    top: 8px;
                    left: 33px;
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                }

                .label-title {
                    position: absolute;
                    top: 5px;
                    left: 57px;
                    font-size: 14px;
                }

                .label-preview {
                    position: relative;
                    min-width: 212px;
                    height: 32px;
                    margin: auto;
                    border-radius: 3px;
                    opacity: 0.35;
                    cursor: pointer;

                    .dark {
                        position: absolute;
                        background-color: rgb(0, 0, 0);
                        opacity: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 3px;

                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }

                .edit-btn {
                    margin: auto;
                    cursor: pointer;
                    width: 32px;
                    height: 32px;
                    background-color: transparent;

                    &:hover {
                        background-color: $color-primary-btn-modal-hover
                    }
                }
            }
        }


        .label-editor {
            border-bottom: 1px solid var(--t-gray);

            h6 {
                margin-block: 8px;
                font-size: 12px;
                font-weight: 500;
            }

            input {
                margin-bottom: 13px;
            }

            .colors {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                gap: 8px;
                padding-inline: 2px;

                .color {
                    position: relative;
                    width: 49px;
                    height: 28px;
                    border-radius: 3px;
                    cursor: pointer;

                    &.selected {
                        width: 48px;
                        // height: 24px;
                        border: 2px solid white;
                        margin: auto;
                        outline: 2px solid var(--t-blue);
                        border-radius: 1px;
                    }

                    .dark {
                        position: absolute;
                        background-color: rgb(0, 0, 0);
                        opacity: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 3px;


                        &:hover {
                            opacity: 0.2;
                        }
                    }
                }
            }

            button {
                margin-top: 10px;
                margin-bottom: 24px;
                position: relative;

                span {
                    position: absolute;
                    font-size: 18px;
                    left: 75px;
                }
            }
        }
    }

    .modal-footer {

        button {
            margin-top: 16px;
        }

        .btn-group {
            display: flex;
            justify-content: space-between;
        }

        .call-to-action,
        .btn-danger,
        .btn-disabled {
            margin-top: 16px;
            margin-bottom: 12px;
        }
    }
}

.delete-label-modal {
    .modal-header {
        margin-bottom: 8px;
    }

    .modal-footer {
        .btn-danger {
            width: 100%;
            margin-bottom: 12px;
        }
    }

}