.checklist-modal {
    .modal-body {
        // ???


        .title-title {
            color: $color-secondery-text;
            margin-bottom: 4px;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 700;
        }

        .primary-input-modal {
            margin-top: 4px;
            margin-bottom: 12px;
        }

        .call-to-action {
            width: 73px;
            margin-top: 10px;
        }

    }
}