.screen-black {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.618);
}

.task-details {
    line-height: 20px;
    width: 768px;
    // max-width: 768px;
    // background-color: $color-bg-2;
    background-color: rgb(240, 240, 246);
    position: absolute;
    right: 50%;
    left: 50%;
    top: 48px;
    margin-bottom: 80px;
    transform: translate(-50%);



    .task-content-btn {
        background-color: $color-primary-btn-modal;
        height: 32px;

        &:hover {
            background-color: $color-primary-btn-modal-hover
        }

        &:active:not(.danger) {
            background-color: $color-primary-btn-modal-active;
            color: var(--t-blue);
        }
    }

    .task-detail-btn {
        background-color: $color-primary-btn-modal;
        height: 32px;

        &:hover {
            background-color: $color-primary-btn-modal-hover
        }

        &:active:not(.danger) {
            background-color: $color-primary-btn-modal-active;
            color: var(--t-blue);
        }
    }

    .small-title {
        color: $color-secondery-text;
        font-size: 12px;
        font-weight: 600;
    }


    .task-header {
        position: relative;

        .close-details {
            position: fixed;
            right: 4px;
            top: 4px;
            width: 40px;
            height: 40px;
            border-radius: 50%;

            &::before {
                font-family: trello;
                content: '\E91C';
                font-size: 20px;

            }
        }

        .task-cover {
            width: 100%;
            min-height: 116px;
            position: relative;

            .btn-cover {
                position: absolute;
                right: 8px;
                bottom: 8px;
                height: 32px;
                padding-inline-end: 12px;
                padding-inline-start: 30px;

                &::before {
                    font-family: trello;
                    content: '\E914';
                    font-size: 16px;
                    position: absolute;
                    opacity: 0.7;
                    right: 54px;

                }
            }
        }

        .task-title-container {
            min-height: 32px;
            padding: 12px 40px 8px 57px;
            position: relative;
            z-index: 1;
            // display: flex;
            // flex-direction: column;
            // gap: 6px;


            &::before {
                font-family: trello;
                content: '\E912';
                color: #42526e;
                font-size: 24px;
                position: absolute;
                top: 20px;
                left: 19px;
                line-height: 32px
            }

            .task-title {
                padding: 12px 0 0;

                .task-title-edit {
                    width: 668px;
                    background: #0000;
                    border-radius: 2px;
                    box-shadow: none;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24px;
                    margin: -2px -8px;
                    padding: 2px 6px;
                    min-height: 32px;
                    resize: none;
                    height: 29px;
                    margin-bottom: 3px;
                }
            }

            p {
                color: $color-secondery-text;
                margin: 0px;
                line-height: 12px;
                margin-bottom: 7px;
            }
        }


    }

    .task-main {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;

        .task-content {
            width: 576px;
            padding-top: 0px;
            padding-right: 8px;
            padding-bottom: 8px;
            padding-left: 16px;
            display: flex;
            flex-direction: column;

            .small-container {
                margin-right: 8px;
                margin-bottom: 8px;
            }

            .small-title-margin {
                color: $color-secondery-text;
                font-size: 12px;
                font-weight: 600;
                margin-top: 0px;
                margin-right: 8px;
                margin-bottom: 4px;
                margin-left: 0px;
            }

            .members-and-labels {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                margin-top: 8px;

                .members-container {
                    max-width: 100%;

                    .member-list-container {
                        display: flex;
                        gap: 4px;

                        .avatar {
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                        }

                        .btn-member-modal {
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;

                            &::after {
                                font-family: trello;
                                content: '\E901';
                                font-size: 16px;
                            }
                        }
                    }
                }

                .labels-container {
                    // margin-right: 8px;
                    // margin-bottom: 8px;
                    max-width: 100%;

                    .labels-list-container {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 4px;
                        position: relative;

                        .label {
                            position: relative;
                            cursor: pointer;
                            min-width: 48px;
                            max-height: 32px;
                            min-height: 32px;

                            &:hover {
                                filter: brightness(75%);
                            }

                            .label-bg {
                                height: 100%;
                                width: 100%;
                                border-radius: 3px;
                                opacity: 0.43;

                                .label-title-place-holder {
                                    padding-right: 16px;
                                    padding-left: 31px;
                                    padding-top: 5px;
                                    opacity: 0;
                                }
                            }

                            .label-title {
                                color: $color-primary-text;
                                position: absolute;
                                top: 7px;
                                left: 31px;

                            }

                            .label-circle {
                                position: absolute;
                                height: 16px;
                                width: 16px;
                                border-radius: 50%;
                                top: 8px;
                                left: 8px;
                            }
                        }

                        .btn-label-modal {
                            width: 32px;
                            height: 32px;

                            &::after {
                                font-family: trello;
                                content: '\E901';
                                font-size: 16px;
                            }
                        }
                    }
                }

                // .small-title {
                //     margin-top: 0;
                //     margin-right: 8px;
                //     margin-bottom: 4px;
                //     margin-left: 0;
                //     line-height: 20px;
                // }
            }

            &>* {
                margin-left: 40px;


                .title-container {
                    margin-bottom: 4px;
                    padding: 8px 0;
                    position: relative;

                    &::before {
                        font-family: trello;
                        font-size: 24px;
                        position: absolute;
                        left: -36px;
                        color: $color-primary-icon-hover;
                    }
                }
            }

            .task-date {

                button {
                    padding-right: 31px;
                    position: relative;
                    margin-left: 4px;

                    .arrow-down {
                        &::after {
                            font-family: trello;
                            content: '\E924';
                            position: absolute;
                            top: 7px;
                            right: 12px;

                        }
                    }
                }
            }

            .task-info {
                &>* {
                    margin-block-end: 24px;
                }

                .title-container h3 {
                    font-size: 16px;
                    font-weight: 600;
                    color: $color-primary-text;
                    line-height: 20px;
                }

                .checklists-container {
                    .checklists {
                        margin-block-end: 24px;
                    }
                }

                .description-container {
                    .description-wraper {
                        margin-bottom: 9px;
                        position: relative;
                    }

                    .title-container {
                        margin-top: 15px;
                        margin-bottom: 9px;
                        position: relative;
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        // min-height: 32px;

                        button {
                            margin-left: 8px;
                        }

                        &::before {
                            content: '\E922';
                        }
                    }

                    .pre-text-area {
                        p {
                            margin: 0;
                        }

                        .no-desc-style {
                            background-color: $color-primary-btn-modal;
                            border: none;
                            border-radius: 3px;
                            display: block;
                            min-height: 56px;
                            padding: 8px 12px;
                            text-decoration: none;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 22px;
                            cursor: pointer;

                            &:hover {
                                background-color: $color-primary-btn-modal-hover;
                            }
                        }
                    }

                    .description-form {
                        margin: 0;


                        .description-input {
                            // display: block;
                            width: 100%;
                            height: 108px;
                            padding: 12px;
                            // overflow: hidden;
                            // overflow-wrap: break-word;
                            margin-bottom: 8px;

                        }
                    }
                }

                .attachment-container {

                    .title-container {

                        h3 {
                            margin-bottom: 4px;
                        }

                        &::before {
                            content: '\E908';
                        }
                    }

                    .attachment-footer {
                        margin-bottom: 40px;

                        button {
                            margin-top: 8px;
                            margin-bottom: 8px;
                        }
                    }



                    .attachment-preview {
                        border-radius: 3px;
                        margin: 0 0 10px;
                        min-height: 80px;
                        position: relative;
                        display: flex;
                        gap: 14px;
                        cursor: pointer;

                        &:hover {
                            background-color: $color-primary-btn-modal;
                        }



                        .preview {
                            background-position: 50%;
                            background-repeat: no-repeat;
                            background-size: contain;
                            border-radius: 3px;
                            height: 80px;
                            width: 112px;
                            text-align: center;
                            text-decoration: none;
                            width: 112px;
                            z-index: 1;
                            background-color: #42526e;

                            img {
                                object-fit: cover;
                                width: 75%;
                                height: 100%;
                            }
                        }

                        .attachment-info {
                            margin: 0;
                            min-height: 80px;
                            padding: 8px 8px 8px 0px;

                            .file-name {
                                font-weight: 700;
                                font-size: 14px;
                            }
                        }

                        .crud {
                            // display: flex;
                            // flex-direction: column;

                            // margin: 0;
                            // min-height: 80px;
                            // padding: 8px 8px 8px 128px;
                            // z-index: 0;
                        }
                    }


                }

                .checklists-container {
                    .task-content-btn {
                        margin-top: 10px;
                    }

                    .title-container {
                        h3 {
                            margin-block: auto;
                        }

                        &::before {
                            content: '\E91A';
                            top: 18px;

                        }
                    }

                    .add-todo {
                        textarea {
                            resize: vertical;
                            display: block;
                            width: 100%;
                            padding-left: 10px;
                            padding-top: 3px;
                            margin-block: 2px;
                        }

                        .controler {

                            .call-to-action {
                                margin-right: 4px;
                            }
                        }
                    }

                    .progress-bar {
                        background-color: #e2e4e9;
                        width: 100%;
                        border-radius: 4px;
                        height: 10px;
                        overflow: hidden;
                        position: relative;
                    }
                    progress::-webkit-progress-value {
                        background: #69bc52;
                    }

                    .progressbar-counter{
                        font-size: 11px;
                        position: absolute;
                        left: -32px;
                        top: -6px;
                    }
                  

                    .checklist-todos {
                        padding-block: 10px;

                        .todo {
                            position: relative;
                            display: flex;

                            input {
                                position: absolute;
                                left: -32px;
                                top: 2px;
                            }
                        }
                    }
                }

                .activity-container {

                    .title-container {
                        h3 {
                            margin-block: auto;
                        }

                        &::before {
                            content: '\E900';
                            top: 15px;
                        }
                    }

                    .add-comments {
                        position: relative;

                        img {
                            position: absolute;
                            left: -40px;
                        }

                        .open-txt {
                            width: 100%;
                            color: rgb(182, 182, 182);
                            // min-height: 36px;
                            background-color: white;
                            box-shadow: 0px 0px 1px 0px rgb(114, 113, 113);
                            text-align: start;
                            padding: 8px;
                            padding-left: 12px;
                            border-radius: 3px;
                            transition: 0.12s;

                            &:hover {
                                background-color: rgb(230, 230, 230);
                            }
                        }
                    }

                    .comment-input {


                        .add-txt-input {
                            margin-block: 8px;
                            display: block;
                            width: 100%;
                            color: rgb(182, 182, 182);
                            padding: 8px;
                            padding-left: 12px;
                            border-radius: 3px;
                            transition: 0.12s;
                            outline: none;
                            box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
                        }
                    }

                    .comment-list {
                        .comment-details {
                            position: relative;
                            // display: flex;
                            padding-block: 10px;

                            img {
                                position: absolute;
                                left: -40px;
                                top: 14px;
                            }

                            .name {
                                font-weight: 700;
                                line-height: 28px;

                                .time {
                                    line-height: 14px;
                                    font-size: 12px;
                                    font-weight: 400;
                                }
                            }

                            .txt-preview {
                                width: 100%;
                                // min-height: 36px;
                                background-color: white;
                                box-shadow: 0px 0px 1px 0px rgb(114, 113, 113);
                                text-align: start;
                                padding: 8px;
                                border-radius: 3px;
                            }

                            .edit-and-delete {
                                span {
                                    cursor: pointer;
                                }
                            }
                        }


                    }
                }
            }
        }

        .task-sidebar {
            padding-top: 0px;
            padding-right: 16px;
            padding-bottom: 8px;
            padding-left: 8px;
            width: calc(100% - 576px);

            .add-to-card-title {
                margin-bottom: -4px;
            }

            .btn-container {
                display: flex;
                flex-direction: column;

                .task-detail-btn {
                    position: relative;
                    // width: 168px;
                    max-width: 100%;
                    border-radius: 3px;
                    margin-top: 8px;
                    max-width: 300px;
                    padding: 6px 12px;
                    padding-left: 0px;
                    padding-right: 30px;

                    span {
                        position: absolute;
                        left: 32px;
                        top: 7px;
                    }

                    &::before {
                        font-family: trello;
                        position: absolute;
                        font-size: 16px;
                        left: 8px;
                    }

                    &.members {
                        &::before {
                            content: '\E946';
                        }
                    }

                    &.labels {
                        &::before {
                            content: '\E93F';
                        }
                    }

                    &.checklist {
                        &::before {
                            content: '\E918';
                        }
                    }

                    &.dates {
                        &::before {
                            content: '\E91B';
                        }
                    }

                    &.attachment {
                        &::before {
                            content: '\E908';
                        }
                    }

                    &.location {
                        &::before {
                            content: '\E944';
                        }
                    }

                    &.cover {
                        &::before {
                            content: '\E914';
                        }
                    }

                    &.move {
                        &::before {
                            content: '\E94A';
                        }
                    }

                    &.copy {
                        &::before {
                            content: '\E91F';
                        }
                    }

                    &.archive {
                        &::before {
                            content: '\E907';
                        }
                    }
                }
            }
        }
    }
}