// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

.text-center {
    text-align: center;
}

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.wrap {
        flex-wrap: wrap;
    }
}

.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.modal-container {
    position: absolute;
    min-width: 304px;
    max-width: 304px;
    background-color: $color-bg-1;
    box-shadow: 0px 0px 2px 1px rgb(0, 0, 0, 0.1);
    top: 25%; // just for dev
    left: 25%; // just for dev
    z-index: 300;
    border-radius: 3px;
    font-size: 16px;

    &>*:not(.full) {
        margin-inline: 12px;
    }

    .primary-btn-modal {
        background-color: $color-primary-btn-modal;
        width: 280px;
        height: 32px;
        margin-block: 12px;

        &:hover {
            background-color: $color-primary-btn-modal-hover
        }

        &:active {
            background-color: $color-primary-btn-modal-active;
            color: var(--t-blue);
        }

        &.small {
            width: 64px;
        }
    }

    .modal-header {
        position: relative;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid var(--t-gray);
        min-height: 40px;
        margin-bottom: 8px;

        h5 {
            margin: auto;
            color: $color-secondery-text;
            font-size: 14px;

        }

        span {
            color: $color-primary-icon;
            position: absolute;
            bottom: 24%;
            right: -2px;
            font-size: 21px;
            cursor: pointer;

            &:hover {
                font-weight: 500;
                color: $color-primary-icon-hover;
            }

            &.back {
                color: $color-primary-icon;
                bottom: 38%;
                left: 3px;
                font-size: 13px;
                width: fit-content;

                &:hover {
                    font-weight: 500;
                    color: $color-primary-icon-hover;
                }
            }
        }
    }

    .modal-body {

        .primary-input-modal {
            background-color: lighten($color-primary-btn-modal, 60%);
            width: 276px;
            display: block;
            margin: auto;
            margin-top: 10px;
            height: 32px;
            padding-inline: 8px;
            padding-bottom: 2px;
            border-radius: 1px;
            outline: 2px solid var(--t-gray);
            transition: 0.15s;

            &:hover {
                background-color: $color-primary-btn-modal-hover;
            }

            &:focus {
                background-color: white;
                outline: 2px solid var(--t-blue);
            }
        }

        h6 {
            margin-block: 8px;
            font-size: 12px;
            font-weight: 500;
            color: $color-secondery-text;
        }
    }

    .modal-footer {
        min-height: 48px;

        p {
            font-size: 14px;
            margin: 0 0 8px;
        }
    }

}

.opacity-input {
    background-color: $color-bg-opacity;
    transition: 0.15s;

    &:hover:not(.star) {
        background-color: $color-bg-opacity-hover;
        transition: 0.05s;
    }

    &:active:not(.star) {
        background-color: $color-bg-opacity-active;
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}