.group-list>* {
    background-color: var(--t-light-gray);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    padding-inline: 8px;
    margin-inline: 5px;
    min-width: 272px;
    height: fit-content;
}