.board-list-container {
    margin-left: auto;
    margin-right: auto;
    width: 840px;
    margin-top: 60px;


    .board-prev-title {
        display: flex;
        flex: 1;
        gap: 8px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin: 0 0 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        margin-inline-start: 8px;

        &.recently {

            &::before {
                font-family: trello;
                content: '\E91B';
                font-size: 20px;
            }
        }

        &.starred {

            &::before {
                font-family: trello;
                content: '\E966';
                font-size: 20px;

            }
        }
        &.all {

            &::before {
                font-family: trello;
                content: '\E96D';
                font-size: 20px;

            }
        }
    }
}

.board-list {
    display: flex;
    flex-wrap: wrap;
    // gap: 15px;
    margin-bottom: 60px;
    justify-content: flex-start;
}

.mini-board {
    width: 195px;
    min-width: 143px;
    height: 95px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    margin-right: 15px;
    margin-bottom: 15px;
    filter: brightness(95%);
    padding: 8px;

    &:hover {
        filter: brightness(80%);
    }

    h1 {
        color: white;
        font-weight: bold;
        font-size: 1.1rem;

    }

    .board-prev-star {
        display: none;
        background: none;
        display: block;
        right: 6px;
        opacity: 1;
        position: absolute;
        bottom: 6px;
        padding: 0;

        &.stared {
            &::before {
                font-family: trello;
                content: '\E967';
                font-size: 14px;
                color: #f2d600;

                &:hover{
                    &::before{
                        content: '\E967';
                    }
                }
            }
         
        }
        &.not-stared{
            &::before {
                font-family: trello;
                content: '\E966';
                font-size: 14px;
                color: white;
            } 
        }
    }

}

.mini-board {
    overflow: hidden;
        .not-stared{
            transition: all ease-in-out .2s;
            right: -20px;
        }
        &:hover {
            .not-stared{
                right: 6px;
            }
            
        }        
        .stared{
            &:hover{
                &::before{
                    content: '\E967';
                }
            }
        }

    }


    //SKELETONES

    //list
    .skeleton-pr15qsgku0q:empty {position: relative; height: 170px; background-color: #ffffff; border-radius: 0px 0px 0px 0px; background-image: linear-gradient( #cccccc 95px, transparent 0 ),linear-gradient( #cccccc 95px, transparent 0 ),linear-gradient( #cccccc 95px, transparent 0 ),linear-gradient( #cccccc 95px, transparent 0 );background-repeat: repeat-y;background-size: 195px 170px,195px 170px,195px 170px,195px 170px;background-position: 630px 25px,420px 25px,210px 25px,0px 25px;}.skeleton-pr15qsgku0q:empty:before {content: ' '; position: absolute; z-index: 1000; width: 100%; height: 170px;-webkit-mask-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ); -webkit-mask-repeat : repeat-y; -webkit-mask-size : 50px 170px; -webkit-mask-position: -20% 0;background-image: linear-gradient( rgba(102,102,102,1) 95px, transparent 0 ),linear-gradient( rgba(102,102,102,1) 95px, transparent 0 ),linear-gradient( rgba(102,102,102,1) 95px, transparent 0 ),linear-gradient( rgba(102,102,102,1) 95px, transparent 0 );background-repeat: repeat-y;background-size: 195px 170px,195px 170px,195px 170px,195px 170px;background-position: 630px 25px,420px 25px,210px 25px,0px 25px;animation: shineForSkeleton-pr15qsgku0q 2s infinite;}@keyframes shineForSkeleton-pr15qsgku0q {to {-webkit-mask-position: 120% 0}}

    //mini board
    .skeleton-zn7bn3ybral:empty {position: relative; height: 95px; background-color: #ffffff; border-radius: 0px 0px 0px 0px; background-image: linear-gradient( #cccccc 95px, transparent 0 );background-repeat: repeat-y;background-size: 195px 133px;background-position: 0px 0px;}.skeleton-zn7bn3ybral:empty:before {content: ' '; position: absolute; z-index: 1000; width: 100%; height: 95px;-webkit-mask-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ); -webkit-mask-repeat : repeat-y; -webkit-mask-size : 50px 95px; -webkit-mask-position: -20% 0;background-image: linear-gradient( rgba(102,102,102,1) 95px, transparent 0 );background-repeat: repeat-y;background-size: 195px 133px;background-position: 0px 0px;animation: shineForSkeleton-zn7bn3ybral 2s infinite;}@keyframes shineForSkeleton-zn7bn3ybral {to {-webkit-mask-position: 120% 0}}