.home-hero {
    height: calc(100vh - 44px);
    background: url(//images.ctfassets.net/rz1oowkt5gyp/6kBmKYevSE6afQVs3k7f85/4f95550…/hero-1-left.svg) 0px 124px / auto no-repeat scroll padding-box border-box, url(//images.ctfassets.net/rz1oowkt5gyp/6QeCRDk331YxhjdhUY5ZfR/0f0c9cc…/wave--big-swing-hero.svg) left bottom -0.5px / 100% 29% no-repeat scroll padding-box border-box, url(//images.ctfassets.net/rz1oowkt5gyp/2iTmnZoDWa5z5r1XQd1FCw/385920f…/hero-1-right-top-padding.svg) right top / auto no-repeat scroll padding-box border-box, url(//images.ctfassets.net/rz1oowkt5gyp/5NNPHxU4uE3URY8gHqBqsH/aac2280…/white_moire.png) center center / 90% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    background-blend-mode: normal, normal, normal, normal, normal;
    color: rgb(255, 255, 255);

    & h1 {
        font-size: 48px;
        line-height: 1.25;
        font-family: charlie-semibold;
        font-weight: 500;
        margin-bottom: 0.5rem;
        margin-top: 80px;
        height: 180px;
        width: 608px;
        text-align: center;
    }

    & h3 {
        text-align: center;
        width: 608px;
        font-family: charlie-text-regular;
        font-size: 20px;
    }

    & button {
        margin-top: 30px;
        text-decoration: none;
        color: white;
        background-color: rgb(42 99 246);
    }

}

.home-header {
    width: 100%;
    height: 60px;
}

.logo {
    margin-inline: 20px;
    gap: 3px;
    text-decoration: none;

    .main-logo {
        text-decoration: none;
        color: black;
        padding: 0;
        font-family: charlie-bold;
        letter-spacing: 0.08rem;
    }

    &::before {
        margin-block-start: 3px;
        font-family: trello;
        content: '\E90B';
        font-size: 19px;
        color: rgb(0, 82, 204);
        text-align: center;

    }
}

.header-nav {

    justify-items: center;
    align-items: center;
    gap: 10px;

    a {
        text-decoration: none;
    }

}

.trello-101 {
    align-items: center;

    h4 {
        font-weight: 500;
        margin-bottom: 0.5rem;
        margin-top: 0px;
        font-size: 20px;
        line-height: 1.25;
        text-transform: uppercase;
    }

    h2 {
        font-family: charlie-semibold;
        font-size: 2.25rem;
        line-height: 1.33333;
        font-weight: 500;
        margin-bottom: 0.5rem;
        margin-top: 0px;
    }

    >p {
        width: 607px;
        text-align: center;
        font-size: 20px;
        font-family: charlie-regular;
        font-weight: 400;
        line-height: 1.5;
        text-size-adjust: 100%;
        margin-bottom: 0;
    }

    .cards-101-section {
        margin-top: 50px;
    }

    .card {
        width: 288px;
        height: 181px;
        background-color: rgb(255, 255, 255);
        color: rgb(9, 30, 66);
        box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
        border-radius: 0.3rem;
        border: 0px;
        padding: 1rem 1rem 1rem 1.5rem;
        position: relative;
        text-align: left;
    }

    .side-border {
        background-color: rgb(0, 199, 229);
        border-radius: 0.3rem 0px 0px 0.3rem;
        bottom: 0px;
        content: "";
        left: 0px;
        position: absolute;
        top: 0px;
        width: 0.5rem;
    }

    img {
        width: 607px;
        height: 408px;
    }
}