.main-layout {
    overflow: hidden;
    align-items: center;
    font-size: 16px;
    position: relative;
}

.main-layout>* {
    width: 100%;

}

.main-layout>*:not(.full) {
    max-width: 1140px;
}

.main-home-header {

    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
}


.home-header {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 60px;
    max-width: 1320px;
}

.logo.logo-home {
    gap: 3px;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    align-items: center;

    .main-logo.main-logo-home {
        text-decoration: none;
        color: black;
        padding: 0;
        font-family: charlie-bold;
        letter-spacing: 0.08rem;
    }

    &::before {
        margin-block-start: 3px;
        font-family: trello;
        content: '\E90B';
        font-size: 34px;
        color: rgb(0, 82, 204);
    }
}

.header-nav-home {

    justify-items: center;
    text-align: center;
    gap: 10px;
    align-items: center;
    height: 100%;

    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding: 0.5rem 1.5rem;
        font-family: charlie-semibold;

    }

    .demo-li {
        align-items: center;
        justify-content: center;
        width: 210px;
        height: 100%;
        background-color: rgb(23, 43, 77);

        &:hover {
            background-color: rgb(80, 95, 121);
            cursor: pointer;
        }

        .demo {
            color: rgb(255, 255, 255);
        }


    }

}


.home-hero {

    background: url(https://images.ctfassets.net/rz1oowkt5gyp/6kBmKYevSE6afQVs3k7f85/4f9555020a455585ac16cdbc90064dc3/hero-1-left.svg) 0px 124px / auto no-repeat scroll padding-box border-box,
        url(https://images.ctfassets.net/rz1oowkt5gyp/6QeCRDk331YxhjdhUY5ZfR/0f0c9cc5c6f29c493e65c4aa88b9eafd/wave--big-swing-hero.svg) left bottom -0.5px / 100% 29% no-repeat scroll padding-box border-box,
        url(https://images.ctfassets.net/rz1oowkt5gyp/2iTmnZoDWa5z5r1XQd1FCw/385920f4c0810c358bb58bd72a2571fd/hero-1-right-top-padding.svg) right top / auto no-repeat scroll padding-box border-box,
        url(https://images.ctfassets.net/rz1oowkt5gyp/5NNPHxU4uE3URY8gHqBqsH/aac2280249309f6ebfcc16db45a795ad/white_moire.png) center center / 90% no-repeat scroll padding-box border-box,
        linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    background-blend-mode: normal, normal, normal, normal, normal;
    color: rgb(255, 255, 255);
    text-align: center;

    .hero-content {

        max-width: 728px;
    }

    h1 {
        font-size: 48px;
        line-height: 1.25;
        font-family: charlie-semibold;
        font-weight: 500;
        margin-bottom: 8px;
        margin-top: 60px;
    }

    h3 {
        font-family: charlie-text-regular;
        font-size: 20px;
        margin-bottom: 24px;
    }

    .hero-btn-link {
        text-decoration: none;
    }

    button {
        align-items: center;
        font-family: charlie-semibold;
        border-radius: 0.3rem;
        cursor: pointer;
        transition: all 250ms ease-out 0s;
        background-color: rgb(0, 101, 255);
        font-size: 16px;
        padding: 12px 16px;
        font-weight: 400;
        line-height: 20px;
        height: 50px;
        width: 165px;
        margin-bottom: 60px;

        &:hover {
            background-color: rgb(7, 71, 166);
            border-color: rgb(7, 71, 166);
        }

        a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            letter-spacing: 0.5px;

        }

    }

    img {
        width: 918px;
        max-height: 517px;
        margin-bottom: 60px;
    }

}

.trello-101 {
    align-items: center;
    background: linear-gradient(0deg, rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(178, 212, 255);
    background-blend-mode: normal;
    color: rgb(9, 30, 66);
    padding-bottom: 64px;
    margin-bottom: 64px;

    h4 {
        font-weight: 500;
        margin-bottom: 0.5rem;
        margin-top: 0px;
        font-size: 16px;
        line-height: 1.25;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    h2 {
        font-family: charlie-semibold;
        font-size: 36px;
        line-height: 1.33333;
        font-weight: 500;
        margin-bottom: 8px;
        margin-top: 0px;
    }

    >p {
        max-width: 720px;
        text-align: center;
        font-size: 22px;
        font-family: charlie-regular;
        font-weight: 400;
        line-height: 1.5;
        text-size-adjust: 100%;
        margin-bottom: 0;
    }

    .cards-101-section {
        margin-top: 50px;
    }

    .cards-101 {
        margin: 16px;

    }

    .card {
        background-color: transparent;
        color: inherit;
        border-radius: 0.3rem;
        border: 0px;
        padding: 1rem 1rem 1rem 1.5rem;
        position: relative;
        text-align: left;
        display: block;
        width: 348px;
        height: 157px;
    }

    .card-selected {
        display: block;
        width: 348px;
        height: 157px;
        background-color: rgb(255, 255, 255);
        color: rgb(9, 30, 66);
        box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
        border-radius: 0.3rem;
        border: 0px;
        padding: 1rem 1rem 1rem 1.5rem;
        position: relative;
        text-align: left;


    }

    h3 {
        font-size: 16px;
        font-weight: 500;
    }

    p {
        font-size: 16px;
        font-family: charlie-regular;
        letter-spacing: 0.5px;
    }

    .side-border {
        background-color: rgb(0, 199, 229);
        border-radius: 0.3rem 0px 0px 0.3rem;
        bottom: 0px;
        content: "";
        left: 0px;
        position: absolute;
        top: 0px;
        width: 0.5rem;
    }

    img {
        max-width: 728px;
        max-height: 488px;
        margin: 16px;
    }
}

.trello-action {

    >p {
        font-weight: 500;
        margin-bottom: 0.5rem;
        margin-top: 0px;
        font-size: 1rem;
        line-height: 1.25;
        text-transform: uppercase;
    }

    h2 {
        font-family: charlie-semibold;
        font-weight: 500;
        padding-bottom: 16px;
        font-size: 2.25rem;
        line-height: 1.33333;
    }

    .carousel-buttons {
        justify-content: flex-end;
        gap: 30px;
        margin-bottom: 16px;

        button {
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }

        .right::before {
            font-family: trello;
            font-size: 20px;
            color: #7c8699;
            content: '\E90A';
        }

        .left::before {
            font-family: trello;
            font-size: 20px;
            color: #7c8699;
            content: '\E931';
        }
    }

    .action-cards {
        overflow: visible;
        gap: 32px;
        margin-bottom: 20px;
        max-width: 80vw;
        width: 1140px;
        // transition: justify-content ease-in-out .2s;
        transition: all ease-in-out .2s;

        &.left {
            transform: translateX(-100%);
            transition: all ease-in-out .2s;
        }

        .card {
            border-radius: 0.5rem;
            box-shadow: rgb(9 30 66 / 15%) 0px 0.5rem 1rem 0px;
            color: inherit;
            display: block;
            min-width: 347px;
            margin: 0px;
            overflow: hidden;
            text-align: left;
            text-decoration: none;
            user-select: none;
            white-space: normal;
            width: auto;

            .action-card-header {
                width: 100%;
                height: 47px;
                margin-bottom: 48px;

            }

            .action-card-content {
                padding: 0 25px;

                h3 {
                    font-size: 1.5rem;
                    line-height: 1.33333;
                    font-weight: 500;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }

    .action-bottom {
        padding-top: 80px;
        padding-bottom: 90px;

        p {
            font-size: 20px;
            line-height: 1.5;
            max-width: 823px;
        }

    }
}

.home-a {
    min-width: 196px;
    height: 50px;
    align-self: center;
    justify-content: center;
    user-select: none;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0.3rem;
    cursor: pointer;
    display: inline-flex;
    transition: all 250ms ease-out 0s;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 101, 255);
    text-decoration: none;
    font-size: 16px;
    padding: 0.7rem 1rem;
    color: rgb(23, 43, 77);
    font-weight: 400;
}

.home-a:hover {
    background-color: #e0ebfe;
    border-color: rgb(0, 101, 255);
}

.see-work {
    background: url(https://images.ctfassets.net/rz1oowkt5gyp/7KgS3XVFhGu3TiclJKloEp/c10aad15fb171a6c245db9cb7910247d/ViewsBackground_Left_Narrow.svg) left center / contain no-repeat scroll padding-box border-box,
        url(https://images.ctfassets.net/rz1oowkt5gyp/2HisRmboWIdXSYaaUSDzon/dadecff4be8a39bf2cf3cc537bd4d9c1/ViewsBackground_Right_Narrow.svg) right center / contain no-repeat scroll padding-box border-box,
        linear-gradient(240deg, rgb(0, 184, 217), rgb(0, 101, 255)) 0% 0% / auto repeat scroll padding-box border-box rgb(0, 101, 255);
    background-blend-mode: normal, normal, normal;
    max-height: 983px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 250px;

    .see-work-content {
        text-align: center;
        padding: 49px 16px;
        max-width: 760px;

        h2 {
            font-family: charlie-semibold;
            margin-bottom: 8px;
            font-size: 36px;
        }

        p {
            line-height: 30px;
            margin-bottom: 24px;
        }
    }

    .callout {
        background-color: white;
        color: black;
        width: 1108px;
        height: 429px;
        padding: 32px;
        border-radius: 8px;
        box-shadow: rgb(9 30 66 / 15%) 0px 8px 16px 0px;
        margin-bottom: 64px;
        gap: 32px;

        .call-out-content {
            padding: 0 32px;
        }

        h3 {
            display: inline;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.25;
            text-transform: uppercase;
            margin: 0px;

        }

        .callout-title {
            margin-bottom: 24px;
            align-content: center;
            gap: 16px;

            .hit::before {
                font-family: trello;
                font-size: 32px;
                color: rgb(135, 119, 217);
                content: '\E971';

            }

            .stay::before {
                font-family: trello;
                font-size: 32px;
                color: rgb(0, 199, 229);
                content: '\E979';

            }
        }

        p {
            width: 392px;
            line-height: 30px;
        }

        img {
            border-radius: 8px;
            width: 555px;
            height: 300px;
        }
    }
}

footer {
    height: 200px;
    background-color: #1c2a4c;
    color: white;
    overflow: hidden;
    padding: 20px;

    .main-footer {
        width: 1320px;

        .footer-logo {
            margin-bottom: 20px;

            h2 {
                color: white;
            }
        }
    }

    .team-member {
        gap: 10px;

        h3 {
            font-family: charlie-semibold;
            font-size: 20px;
        }
    }

    img {
        min-height: 130px;
        max-height: 130px;
        min-width: 130px;
        max-width: 130px;

        border-radius: 50%;
    }
}

@media ((max-width: 1150px)) {

    .main-home {
        overflow: hidden;
        max-width: 100%;
    }

    .main-layout>*:not(full) {
        padding: 37px;
        overflow: hidden;
    }

    .home-hero {
        background: url(https://images.ctfassets.net/rz1oowkt5gyp/6QeCRDk331YxhjdhUY5ZfR/0f0c9cc5c6f29c493e65c4aa88b9eafd/wave--big-swing-hero.svg) left bottom -0.5px / 100% 29% no-repeat scroll padding-box border-box,
            linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .trello-101 {
        max-width: 100%;

        text-align: center;

        >p {
            text-align: left;
            font-size: 20px;
        }

        .cards-101-section {
            flex-direction: column;
            align-items: center;
            max-width: 100%;
        }


        .cards-101 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            button {
                display: block;
                max-width: 508px;
            }
        }

        .imgs-101 {
            order: -1;
        }

        img {
            margin: 0;
            max-height: 100%;
            width: 100%;
        }
    }

    .trello-action {
        text-align: center;

        button {
            display: none;
        }

        .action-cards {
            flex-wrap: wrap;
            align-self: center;
            justify-content: space-between;

            &.left {
                justify-content: center;
            }

            &.right {
                justify-content: center;
            }

            .card {
                display: flex;
                flex-direction: column;
                width: 200px;
                min-width: 0;
                max-height: 160px;
                text-align: center;

                .action-card-header {
                    margin: 0;
                }

                .action-card-content {
                    padding: 2px;
                }

                h3 {
                    text-align: center;
                }

                p {
                    display: none;
                }

                .home-a {
                    align-self: center;
                }
            }
        }

        .action-bottom {
            padding: 0;
            flex-direction: column;
            align-content: center;

            .home-a {
                align-self: center;
            }
        }
    }

    .see-work {
        max-height: 3000px;
        margin: 0;

        h2 {
            line-height: 1.5;
        }

        .callout {
            flex-direction: column;
            padding: 0;
            width: 100%;
            height: 100%;

            .call-out-content {
                order: 0;
            }

            .callout-img {
                order: -1;
                border-radius: 8px 8px 0 0;
            }

            img {
                height: 100%;
                width: 100%;
                border-radius: 8px 8px 0 0;

            }

            p {
                width: 100%;
            }
        }
    }
}

@media (max-width:750px) {

    .footer-members {
        flex-direction: column;
        gap: 20px;
    }

}