

.login {
    background-color: #f9fafc;
    height: 100vh;
    position: relative;

    article{
        // display: none;
    }

    .sign-up {
        .upload-photo {
            gap: 30px;
            .preview-img {
                padding-top: 4px;
                img {
                    object-fit: cover;
                    width:30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
            .login-btn {
                margin:0;
                border-radius: 3px;
            }
        }
    }

    .login-signup {
        width: 400px;
        // height: 600px;
        background-color: #ffffff;
        border-radius: 3px;
        padding: 25px 40px;
        padding-top: 22px;
        box-shadow: rgb(0 0 0 / 10%) 0 0 10px;

        h5 {
            text-align: center;
            padding-top: 5px;
            padding-top: -5px;
        }

        .log-in,
        .sign-up {
            width: 100%;
        }

        input {
            width: 100%;
            font-size: 14px;
            background-color: #fafbfc;
            border: 2px solid #dfe1e6;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 3px;
            height: 40px;
            padding-inline-start: 7px;
            transition: background-color .2s ease-in-out 0s, border-color .2s ease-in-out 0s;

            &:focus {
                background-color: white;
                border: 2px solid #4c9aff;
                outline: 0;
                box-shadow: 0 0 0;
            }
        }

        .login-btn {
            width: 100%;
            background: #5AAC44;
            color: white;
            font-weight: bold;
            padding: 0.6em 1.3em;
            margin-bottom: 10px;
            position: relative;
            text-decoration: none;
            border: 0px;
            cursor: pointer;

            &:hover {
                background: #61BD4F;
            }
        }

        p {
            text-align: center;
            color: #5e6c84;
            font-size: 16px;
            letter-spacing: -0.01em;
            line-height: 28px;
            margin-top: 5px;
            margin-bottom: 25px;
            font-weight: bold;
        }

        .login-form {
            width: 100%;
            gap: 12px;


        }
    }


    .bg-img {
        width: 100%;
        position: absolute;
        bottom: 340px;

        .left-img {
            position: absolute;
            top: 100%;
            left: 0;
            width: 340px;
        }

        .right-img {
            position: absolute;
            top: 100%;
            right: 0;
            width: 340px;
        }
    }

    .logo {
        gap: 15px;
        height: 2.6875em;
        // height: 3rem;
        height: 43px;
        margin-top: 40px;
        margin-bottom: 40px;

        img {
            margin-top: 5px;
            width: 2.6875rem;
            width: 3rem;
        }

        h1 {
            font-family: charlie-bold;
            font-size: 2.6875rem;
            font-size: 4.2rem;
            letter-spacing: 0.1rem;
            color: #253858;
        }
    }
}

@media (max-width: 500px) {
    .login-signup {
        max-width: 90%;
    }
}

@media (max-width: 1200px) {
    .bg-img {
        display: none;
    }
}