

@font-face {
    font-family: trello;
    src: url('../fonts/icomoon.ttf')
}
@font-face {
    font-family: charlie-bold;
    src: url('../fonts/Charlie/CharlieDisplay-Bold.ttf')
}
@font-face {
    font-family: charlie-regular;
    src: url('../fonts/Charlie/CharlieDisplay-Regular.ttf')
}
@font-face {
    font-family: charlie-semibold;
    src: url('../fonts/Charlie/CharlieDisplay-Semibold.ttf')
}
@font-face {
    font-family: charlie-text-regular;
    src: url('../fonts/Charlie/CharlieText-Regular.ttf')
}

