// Colors
$color-primary-btn-modal: #091E420A;
$color-primary-btn-modal-hover: rgba($color-primary-btn-modal, 0.07);
$color-primary-btn-modal-active: rgba(#0079bf, 0.12);

$color-primary: #0079bf;
$color-primary-hover: darken($color-primary, 8%);
$color-primary-active: darken($color-primary, 12%);

$color-danger: #b04632;
$color-danger-hover: darken($color-danger, 8%);
$color-danger-active: darken($color-danger, 15%);

$color-hover-1: #dadee6;
$color-hover-2: #e5e8ee;
$color-bg-1: #ffffff;
$color-bg-2: rgb(237, 236, 253);

$color-primary-icon: #6b778c;
$color-primary-icon-hover: #172b4d;

$color-primary-text: #172b4d;
$color-secondery-text: #5e6c84;

$color-bg-opacity: rgba(255, 255, 255, 0.24);
$color-bg-opacity-hover: rgba($color-bg-opacity , 0.40);
$color-bg-opacity-active: rgba($color-bg-opacity , 0.55);

:root {
    --t-blue: #0079bf;
    --t-green: #70b500;
    --t-orange: #ff9f1a;
    --t-red: #eb5a46;
    --t-yellow: #f2d600;
    --t-purple: #c377e0;
    --t-pink: #ff78cb;
    --t-light-blue: #00c2e0;
    --t-light-green: #51e898;
    --t-gray: #d3d6d8;
    --t-light-gray: #ebecf0;
}

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;